<style>
    .icon {
        height: 25px;
        width: auto;
        padding-right: 10px;
    }
</style>

<template id="feed-template">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <img v-show="feed.icon" v-attr="src:feed.icon" class="icon"> <a href="{{feed.link}}" target="_blank">{{feed.title}}</a>
                <div class="btn-toolbar pull-right" role="toolbar" v-show="totalPages > 1">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs" v-class="disabled: currentPage == 0" v-on="click:prevPage"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                    </div>
                    <div class="btn-group">
                        <span>{{currentPage +1 }} / {{totalPages}}</span>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs" v-class="disabled: currentPage == totalPages-1" v-on="click:nextPage"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                    </div>
                </div>
            </h3>


        </div>
        <div class="panel-body">
            <ul v-repeat="article in feed.articles | paginate">
                <li><a href="{{article.link}}" target="_blank">{{article.headline}}</a></li>
            </ul>
        </div>
    </div>

</template>

<script>

    module.exports = {

        template: document.querySelector('#feed-template'),

        replace: true,

        props: ['feed'],

        data: function() {
            return {
                currentPage: 0,
                itemsPerPage: 10,
                totalItems: 0
            }
        },

        computed: {
            totalPages: function() {
                return Math.ceil(this.totalItems / this.itemsPerPage);
            }
        },

        filters: {
            paginate: function(list) {
                this.totalItems = list.length;

                if (this.currentPage >= this.totalPages) {
                    this.currentPage = this.totalPages - 1
                }

                var index = this.currentPage * this.itemsPerPage;

                return list.slice(index, index + this.itemsPerPage);
            }
        },

        methods: {
            setPage: function(pageNumber) {
                this.currentPage = pageNumber
            },

            prevPage: function(e) {
                e.preventDefault();
                if (this.currentPage > 0) {
                    this.currentPage -= 1;
                }
            },

            nextPage: function(e) {
                e.preventDefault();
                if (this.currentPage < this.totalPages-1) {
                    this.currentPage += 1;
                }
            }
        }

    }

</script>
